<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset = UTF-8">
    <title>【LINE人狼】投票</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
</head>

<body class="my-5">
    <div id="app">

    <div class="fixed-top h5 bg-info text-white text-center mx-auto" v-show="isShow">【LINE人狼】投票 {{myname}}</div>
  
        <form>
            <div class="container">
                <div class="row">
                    <ul class="list-group col-12">
                        <li class="list-group-item" v-for="player in playerList">                   
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="vote" v-model="vote" :id="player.id" :value="player" :disabled="player.disabled">
                                <label class="form-check-label" :for="player.id">
                                    {{player.name}}<span class="badge badge-pill badge-danger" v-if="player.disabled == true">不在</span>
                                </label>
                            </div>
                        </li>
                    </ul>
               </div>
            </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block fixed-bottom" v-if="vote != ''" @click="enter">{{vote.name}}に投票する</button>
    </div>
        
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                myid: '',
                myname: '',
                playerList:[],
                vote:"",
                isShow: true
            },
            mounted :function(){
                liff
                .init({
                    liffId: "1575215646-mrgAB4wN" // use own liffId
                })
                .then(() => {
                    // Start to use liff's api
                    liff.getProfile()
                        .then(profile => {
                            this.myid = profile.userId;
                            this.myname = profile.displayName;


                        })
                        .catch((err) => {
                        console.log('error', err);
                        });
                })
                .catch((err: LiffError) => {
                    // Error happens during initialization
                    console.log(err.code, err.message);
                });

                axios.get('https://script.google.com/macros/s/AKfycbxQiWmxIl9R7HP8b-cHHJYkCpvLp23PHjyGU5zziGvruw-JxwNh/exec')
                .then(response => {this.playerList = response.data ; console.log(response.data);})
                .catch(response => console.log(response))
            },
            methods:{
                enter: function(){
                    this.isShow = false;
                    liff.sendMessages([
                        {
                            type:'text',
                            text:'【' + this.vote.name + '】さんに投票しました'
                        }
                        ])
                        .then(() => {
                            liff.closeWindow();
                        })
                        .catch((err) => {
                            console.log('error', err);
                        });
                }
            }
        })
    </script>
</body>

</html>